@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    /* font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif),sans-serif; */
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif;
}

/* Style the track (background) of the scrollbar */
::-webkit-scrollbar {
  background-color: transparent; /* No background color */
  width: 10px; /* Set the width of the scrollbar */
}

/* Style the thumb (the draggable part) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: gray; /* Color of the thumb */
}

body {
  scrollbar-width: auto;
  scrollbar-color: gray transparent;
}

body:hover {
  scrollbar-width: thin;
}
